.modale {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    background-color: white;
    border: 2px solid var(--medium-orange);
    border-radius: 5px;
    p {
        padding: 1rem 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
    a {
        margin-top: 10px;
    }
    img {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}