.css-1rv3ei8-MuiFormControl-root-MuiTextField-root {
    display: flex;
    justify-content: center;
    width: 100%;
    label {
        font-weight: bold;
        opacity: 0.8;
        margin-left: 40.4%;

    }
    .MuiInputBase-root {
        background-color: white;
        margin: 0 auto;  
    }
}